<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdp.edu.mapper.ShoppingCartMapper">
	<delete id="delete_by_id_bach" parameterType="java.util.Set">
		delete from t_mall_shoppingcar where id in
		<foreach collection="set" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	<select id="select_ShoppingCart" parameterType="int"
		resultType="com.sdp.edu.bean.T_MALL_SHOPPINGCAR">
		select
		Id,
		sku_mch,
		sku_jg,
		tjshl,
		hj,
		yh_id,
		shp_id,
		chjshj,
		sku_id,
		shp_tp,
		shfxz,
		kcdz
		from t_mall_shoppingcar
		where
		yh_id=#{yh_id}

	</select>
	<update id="update_ShoppingCart">
		update t_mall_shoppingcar set tjshl=#{shuliang} where
		yh_id=#{shoppingcart.yh_id} and sku_id=#{shoppingcart.sku_id}
	</update>
	<insert id="insert_ShoppingCartItem" parameterType="com.sdp.edu.bean.T_MALL_SHOPPINGCAR">
		insert into
		t_mall_shoppingcar(
		sku_mch,
		sku_jg,
		tjshl,
		hj,
		yh_id,
		shp_id,
		sku_id,
		shp_tp,
		shfxz,
		kcdz
		) values (
		#{sku_mch},
		#{sku_jg},
		#{tjshl},
		#{hj},
		#{yh_id},
		#{shp_id},
		#{sku_id},
		#{shp_tp},
		#{shfxz},
		#{kcdz}
		);
	</insert>
	<insert id="insert_ShoppingCartItem_merge">
		insert into
		t_mall_shoppingcar(
		sku_mch,
		sku_jg,
		tjshl,
		hj,
		yh_id,
		shp_id,
		sku_id,
		shp_tp,
		shfxz,
		kcdz
		) values (
		#{param1.sku_mch},
		#{param1.sku_jg},
		#{param1.tjshl},
		#{param1.hj},
		#{param2},
		#{param1.shp_id},
		#{param1.sku_id},
		#{param1.shp_tp},
		#{param1.shfxz},
		#{param1.kcdz}
		);
	</insert>
	<insert id="insert_ShoppingCartItemlist" parameterType="list">
		insert
		into
		t_mall_shoppingcar(
		sku_mch,
		sku_jg,
		tjshl,
		hj,
		yh_id,
		shp_id,
		sku_id,
		shp_tp,
		shfxz,
		kcdz
		) values
		<foreach collection="list" separator=",">
			(
			#{sku_mch},
			#{sku_jg},
			#{tjshl},
			#{hj},
			#{yh_id},
			#{shp_id},
			#{sku_id},
			#{shp_tp},
			#{shfxz},
			#{kcdz}
			)
		</foreach>


	</insert>
	<update id="update_ShoppingCart_shfxz">
		update t_mall_shoppingcar set shfxz=#{param1} where id=#{param2}
	</update>
	<delete id="delete_by_id">
		delete from t_mall_shoppingcar
		where id=#{id}
	</delete>
</mapper>
